# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=4000
DATABASE_URL="DatabaseServer://User:Password@localhost:DatabasePort/YourDatabaseName?schema=public(this is opcional in postgres)"

ENCRYPTION_KEY="Your Encription key for encryption service. Check the file encryption.service.ts in common folder"

NODE_ENV="development"

AWS_BUCKET_NAME="Your AWS bucket name"
AWS_BUCKET_REGION="Your AWS bucket region"
AWS_ACCESS_KEY="Your AWS IAM access key"
AWS_SECRET_ACCESS_KEY="Your AWS secret access key"







